#about {
    border-top: 1px solid #ccc;
}
#about .about-content {
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.about-img,.about-text {
    width: 70%;
}

.about-img {
    width: 40%;
}

.about-img img {
    display: block;
    border-radius: 12px;
    width: 90%;
}

.about-text p {
    line-height: 25px;
    font-size: 20px;
    margin-top: 15px;
    text-align: left;
}

.about-text a {
    color: #202751;
}

.about-text h4 {
    font-size: 26px;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 1440px){
    .about-text p {
        font-size: 20px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px){
    .about-text p {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    #about .about-content {
        flex-wrap: wrap;
    }
    .about-img {
        width: 100%;
    }
    .about-img img {
        display: block;
        margin: 0 auto;
        width: 70%;
    }
    .about-text p {
        text-align: left;
    }
    .about-text {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .about-img img {
        width: 100%;
    }
    .about-text p:first-child {
        text-align: left;
    }
    .about-text p {
        line-height: 24px;
    }
}
